.u-text-red {
  color: red;
}

.u-background--red {
  background-color: red;
}

.u-background--blue {
  background-color: blue;
}

.u-background--purple {
  background-color: purple;
}

.u-background--brown {
  background-color: brown;
}

.u-background--yellow {
  background-color: #D8B100;
}

.u-background--pink {
  background-color: #D64F8B;
}

.u-background--green {
  background-color: green;
}

.u-background--skyblue {
  background-color: #3288D3;
}

.u-background--lightred {
  background-color: lightcoral;
}

.u-background--orange {
  background-color: orange;
}